<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.demo.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.briup.demo.bean.Article">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="CLICKTIMES" jdbcType="NUMERIC" property="clicktimes" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="PUBLISHDATE" jdbcType="TIMESTAMP" property="publishdate" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CATEGORY_ID" jdbcType="NUMERIC" property="categoryId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, AUTHOR, CLICKTIMES, CONTENT, PUBLISHDATE, TITLE, CATEGORY_ID
  </sql>
  <select id="selectByExample" parameterType="com.briup.demo.bean.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CMS_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CMS_ARTICLE
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from CMS_ARTICLE
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.briup.demo.bean.ArticleExample">
    delete from CMS_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.briup.demo.bean.Article">
  <selectKey keyProperty="id" resultType="short" order="BEFORE">
	   select cms_article_seq.NEXTVAL FROM DUAL
   </selectKey>
  
    insert into CMS_ARTICLE (ID, AUTHOR, CLICKTIMES, 
      CONTENT, PUBLISHDATE, TITLE, 
      CATEGORY_ID)
    values (#{id,jdbcType=NUMERIC}, #{author,jdbcType=VARCHAR}, #{clicktimes,jdbcType=NUMERIC}, 
      #{content,jdbcType=VARCHAR}, #{publishdate,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.demo.bean.Article">
    insert into CMS_ARTICLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="clicktimes != null">
        CLICKTIMES,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="publishdate != null">
        PUBLISHDATE,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="clicktimes != null">
        #{clicktimes,jdbcType=NUMERIC},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.briup.demo.bean.ArticleExample" resultType="java.lang.Long">
    select count(*) from CMS_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
  <selectKey keyProperty="id" resultType="short" order="BEFORE">
	   select cms_article_seq.NEXTVAL FROM DUAL
   </selectKey>
    update CMS_ARTICLE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=NUMERIC},
      </if>
      <if test="record.author != null">
        AUTHOR = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.clicktimes != null">
        CLICKTIMES = #{record.clicktimes,jdbcType=NUMERIC},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null">
        PUBLISHDATE = #{record.publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        CATEGORY_ID = #{record.categoryId,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CMS_ARTICLE
    set ID = #{record.id,jdbcType=NUMERIC},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      CLICKTIMES = #{record.clicktimes,jdbcType=NUMERIC},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      PUBLISHDATE = #{record.publishdate,jdbcType=TIMESTAMP},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=NUMERIC}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.demo.bean.Article">
    update CMS_ARTICLE
    <set>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="clicktimes != null">
        CLICKTIMES = #{clicktimes,jdbcType=NUMERIC},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        PUBLISHDATE = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.demo.bean.Article">
    update CMS_ARTICLE
    set AUTHOR = #{author,jdbcType=VARCHAR},
      CLICKTIMES = #{clicktimes,jdbcType=NUMERIC},
      CONTENT = #{content,jdbcType=VARCHAR},
      PUBLISHDATE = #{publishdate,jdbcType=TIMESTAMP},
      TITLE = #{title,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=NUMERIC}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>